/* nejsme vcerejsi, pouzivame moderni box model */
html {
    box-sizing: border-box;
}

*,
:after,
:before {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}

/* ----- DOLE BUDE TVOJE CSS ----- */

.recept-popis {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    color: white;
    text-shadow: 1px 2px rgb(34, 34, 34);
}

.recept-nazev {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: white;
    position: absolute;
    bottom: 10px;
    margin: 0px;
    text-shadow: 1px 2px rgb(34, 34, 34);
}

.hlavni {
    font-size: 28px;
}

.ostatni {
    font-size: 18px;
}

.recept-hlavni,
.recept-recept2,
.recept-recept3,
.recept-recept4,
.recept-recept5 {
    padding: 10px;
    border: 0.5px solid white;
}

.recept-hlavni {
    min-height: 200px;
    background-image: url(./images/salat.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.recept-recept2 {
    min-height: 90px;
    background-image: url(./images/chlebicek.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.recept-recept3 {
    min-height: 90px;
    background-image: url(./images/tacos.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.recept-recept4 {
    min-height: 90px;
    background-image: url(./images/cizrna.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.recept-recept5 {
    min-height: 90px;
    background-image: url(./images/burger.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

@media (min-width: 480px) {

    .recept-nazev {
        position: absolute;
        bottom: 15px;
        margin: 0px;
    }

    .recepty-ostatni {
        display: flex;
        flex-wrap: wrap;
    }

    .recept-recept2,
    .recept-recept3,
    .recept-recept4,
    .recept-recept5 {
        padding: 20px;
        flex: 1 1 50%;
        min-height: 150px;
    }

    .recept-hlavni {
        padding: 20px;
        min-height: 250px;
    }

    .hlavni {
        font-size: 36px;
    }

    .ostatni {
        font-size: 22px;
    }

}

@media (min-width: 860px) {
    .recepty {
        display: flex;
        flex-direction: row;
        min-width: 100%;
    }

    .recept-hlavni {
        min-height: 400px;
        flex: 1 1 40%;
    }

    .hlavni {
        font-size: 48px;
    }

    .recepty-ostatni {
        flex: 1 1 60%;
    }

    .recept-recept2,
    .recept-recept3,
    .recept-recept4,
    .recept-recept5 {
        min-height: 200px;
    }

    .ostatni {
        font-size: 28px;
    }

}